

.flex-container {
  background-color: #4056A1;
  height: 120px;
  padding: 1.5em;
  color: #FFFFFF;
}

.fas {
  color: red;
}

.tweeter {
  font-size:xxx-large;
}

.header {
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 400px;
  width: 100%;
  align-items: center;
  background-image: url("/images/brushed-alum.png");
  background-color: palegreen;
  color: #FFFFFF;
  
}
