
.nav-box {
  height: 120px;
}

.flex-container {
  background-color: #4056A1;
  height: 120px;
  padding: 1.5em;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

}

.a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down {
  color: red;
}

.tweeter {
  font-size:xxx-large;
  font-family: 'Bungee', cursive;
}

